<h1>Recuperando senha</h1>

<p>Um solicitação de recuperação de senha foi realizada para o email ({{ email }}). Se você não foi o autor dessa requisição, fique a tento a suas credenciais</p>

<p>Para continuar com a recuperação de senha, utilize o token <strong>{{ token }}</strong> ou clique no link a baixo</p>

<a href="{{ link }}">Criar nova senha</a>

<p>Solicitado em {{ token_created_at }}</p>